@tailwind base;
@tailwind components;
@tailwind utilities;


.titulo{
    max-width: 1400px;
    padding: 0 2rem;
    margin: 0 auto;
} 

@layer components{
     .card {
        @apply
        bg-white text-gray-700
        shadow-lg rounded-md overflow-hidden
    } 

    .badge {
        @apply
        px-3 py-1 rounded-full text-xs bg-gray-500
    }

}

.texto-borde {
    -webkit-text-stroke: 2px black;
    color: transparent; 
  }